#mainBox {
    position: relative;
    top: 0;
    margin: auto;
    width: 1440px;
    height: 1024px;
    background-image: url("../img/beach.jpg");
    background-color: white;
    text-align: center;
}

#testimonialBox {
    width: 30%;
    height: 15%;
    position: absolute;
    top: 64%;
    left: 35%;
    background-color: gray;
}

.btn {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: black;
}

.btn-left {
    left: -15px;
}

.btn-right {
    right: -15px;
}



